<div class="main">
  <div class="circle orange"></div>
  <div class="circle orange-purple"></div>
  <div class="circle purple"></div>
  <div class="card">
    <p class="title">Hola</p>
    <p class="subtitle">Me llamo Arturo Briones Molina</p>
    <p>
      Esta es mi propuesta para la resolución de mi examen técnico para
      la vacante de Fullstack, me inspiré en su sitio web y utilicé su logo,
      colores y tipografía con el propósito de que sintieran que el sitio les
      es familiar y en un futuro me integren como el nuevo miembro del equipo.
    </p>
    <p>
      Sin más por el momento, les dejo mis medios de contacto:      
    </p>
    <p>
      Correo: arturobriones115@gmial.com    
    </p>
    <p>  Celular: 5567027580</p>
  </div>
</div>
